@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Codec Pro';
  src: url('/fonts/codec-pro.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'Codec Pro', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}
